
.notification-container {
    position: fixed;
    top: 100px;
    right: -300px; /* Start the notification off-screen */
    width: 300px;
    background-color: #2a506a;
    color: #fff;
    padding: 10px;
    transition: right 0.5s ease-in-out;
}

.notification {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.country {
    font-weight: bold;
}

.action {
    font-style: italic;
}

.amount {
    font-weight: bold;
    color: chartreuse;
}


/* Chat button styles */
.chat-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.chat-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Chat widget styles (hidden by default) */
.chat-widget {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.chat-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-title {
    font-weight: bold;
}

.close-chat-button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Add more styles for chat messages, input, and send button as needed */
